<form method="post" action="{{ path('documents_delete', {'id': document.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce fichier ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
