{% extends 'base.html.twig' %}

{% block title %}Ajouter un document ou une photo{% endblock %}

{% block body %}
    <main class="article p-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>Photos ou PDF</h1>
                <p class="text-presentation">Choisissez un ou plusieurs documents (maintenir appuyé sur CTRL pour sélectionner plusieurs fichiers)</p>

                    {{ include('documents/_form.html.twig') }}

                <p>Formats acceptés :<br>
                - images : jpg, jpeg, png<br>
                - documents : PDF</p>
            </div>
        </div>
    </main>
{% endblock %}
