{% extends 'base.html.twig' %}

{% block title %}Edition d'un journal{% endblock %}

{% block body %}
<main class="carrousel p-3">
    <h1>Edition d'un journal</h1>

    {{ include('journaux/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</main>
{% endblock %}
