{% extends 'base.html.twig' %}

{% block title %}Nouveau journal{% endblock %}

{% block body %}
    <main class="carrousel p-3">
    <h1>Ajout d'un nouveau journal</h1>

    {{ include('journaux/_form.html.twig') }}

    </main>
{% endblock %}
