{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe effectuée{% endblock %}

{% block body %}
    <div class="col-12 text-center text-presentation">
        <p>Un message contenant un lien pour réinitialiser votre mot de passe a été envoyé. Ce lien est valide {{ tokenLifetime|date('g') }} heure(s).</p>
        <p>Si vous ne recevez pas de message, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">refaites la demande</a>.</p>
        <a href="{{ path('index') }}" class="btn btn-primary">Accueil</a>
    </div>
{% endblock %}
