<h1>Le Journal de Maman - mot de passe oublié</h1>

<p>Pour réinitialiser votre mot de passe, merci de cliquer sur ce lien :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien est valide {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} (donc hurry up!).</p>

<p>A bientôt !</p>

<p>Le Journal de Maman</p>
