{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="col-12 text-center text-presentation">
        <h1>Réinitialisation du mot de passe</h1>

        <p>Vous recevrez un lien pour choisir un nouveau mot de passe.
        <br>Entrez votre adresse mail :</p>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}

            <br><button class="btn btn-primary">Envoyer mon mail de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}