{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <div class="col-12 text-center text-presentation">
        <h1>Réinitialiser un mot de passe</h1>
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Choisir ce nouveau mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
