@import '~bootstrap/scss/bootstrap';

/* NAVBAR */

nav {
    font-family: 'Permanent Marker', Arial sans-serif;
}

/* GENERAL */

body {
    background-color: #e9e9e9;
    //background-image: url('../../public/images/bois.png');
    background-repeat: repeat;
    font-family: 'Caveat', Arial sans-serif;
    color : black;
    font-size : 1rem;
}

.text-presentation {
    font-family: 'Caveat', Arial sans-serif;
    font-size: x-large;
}

.caveat {
    font-family: 'Caveat', Arial sans-serif;
}

.marker {
    font-family: 'Permanent Marker', Arial sans-serif;
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 50px;
}
#scroll_to_top img {
    width: 25px;
}

/* JOURNAUX */

.journaux {

    a {
        text-decoration: none;
    }

    .bureau {
        display: flex;

        :hover {
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        :hover {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
    }

    .carnet-rouge {
        display: block;
        background-image:url('../../public/images/carnet-rouge.jpg');
        width: 200px;
        height: 280px;
        font-size: 1.4rem;
        color: white;
        box-shadow: 8px 8px 12px #aaa;
    }

    .carnet-vert {
        display: block;
        background-image:url('../../public/images/carnet-vert.jpg');
        width: 200px;
        height: 280px;
        font-size: 1.4rem;
        color: white;
        box-shadow: 8px 8px 12px #aaa;
    }

    .carnet-bleu {
        display: block;
        background-image:url('../../public/images/carnet-bleu.jpg');
        width: 200px;
        height: 280px;
        font-size: 1.4rem;
        color: white;
        box-shadow: 8px 8px 12px #aaa;
    }

    .carnet-noir {
        display: block;
        background-image:url('../../public/images/carnet-noir.jpg');
        width: 200px;
        height: 280px;
        font-size: 1.4rem;
        color: white;
        box-shadow: 8px 8px 12px #aaa;
    }
}

/* EPHEMERIDES */

.journal {

    .journal-stat {
        border-radius: 5px;
        background-color: white;
        margin-top: 2px;
        padding: 6px;
        text-align: center;
        font-size: 1.1rem;
        .red-number {
            color: red;
         }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .bureau {
        display: flex;
        flex-flow: row wrap;

        :hover {
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        :hover {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
    }
}

.ephemeride {
    font-family: 'Bebas Neue', Arial sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: white;
    width: 110px;
    height: 150px;
    box-shadow: 8px 8px 12px #aaa;
}

.black-text {
    font-size: 1.4rem;
}

.jour-rouge {
    font-family: 'Bebas Neue', Arial sans-serif;
    color: red;
    margin-top: -25px;
    margin-bottom: -15px;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
}

.year-text {
    color: grey;
    margin-top: -15px;
    font-size: 1rem;
}

.shadow-date {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

/* ARTICLE */

.article {

    #porteplume {
        position: relative;
        padding:50px;
    }

    @media(max-width: 700px) {
        #porteplume {
            display: none;
        }
    }

    #encrier {
        position: relative;
        width: 200px;
        margin-left: -60px;
        padding-top: 170px;
        padding-right: 5px;
    }

    @media(max-width: 1100px) {
        #encrier {
            display: none;
        }
    }

    .icon-nav-sommaire {
        position: absolute;
        height: 80px;
        top: 10px;
        right: 50px;
        z-index: 5;
        box-shadow: 8px 8px 12px #aaa;
    }

    .icon-nav-gauche {
        position: absolute;
        height: 40px;
        top: 10px;
        left: 20px;
    }

    .icon-nav-droite {
        position: absolute;
        height: 40px;
        top: 10px;
        right: 20px;
    }

    .icon-nav-gauche-bas {
        position: absolute;
        height: 40px;
        bottom: 10px;
        left: 20px;
    }

    .icon-nav-droite-bas {
        position: absolute;
        height: 40px;
        bottom: 10px;
        right: 20px;
    }

    .icon-coeur {
        position: absolute;
        height: 50px;
        top: 10px;
        right: 20px;
    }

    .miniature {
        margin: 3px;
        height: 200px;
        width: auto;
        border: solid 2px black;
    }

    .fond-paper {
    background-image:url('../../public/images/paperwhite.jpg');
    -moz-box-shadow: 3px -3px 20px 5px #656565;
    -webkit-box-shadow: 3px -3px 20px 5px #656565;
    -o-box-shadow: 3px -3px 20px 5px #656565;
    box-shadow: 3px -3px 20px 5px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=45, Strength=20);

        .text-article {
            font-size: 1.6rem;
            text-indent: 40px;
            line-height: 2.2rem;
        }
    }
}

/* DOCUMENT */

.big-image {
    max-width: 80%;
    height: auto;
}

.miniature {
    margin: 3px;
    height: 200px;
    width: auto;
    border: solid 2px black;
}

.small-miniature {
    margin: 3px;
    height: 100px;
    width: auto;
    border: solid 2px black;
}


/* FORMULAIRES */

.contenu {
    width: 100%;
    height: 300px;
}

.com {
    width: 100%;
    height: 200px;
}

/* FOOTER */

.footer {
    border-top: solid white 1px;
}