@import '~bootstrap/scss/bootstrap';

/* NAVBAR */

nav {
    font-family: 'Permanent Marker', Arial sans-serif;
}

/* GENERAL */

body {
    background-color: lightgray;
    font-family: 'Caveat', Arial sans-serif;
    color : black;
    font-size : 1rem;
}

.text-presentation {
    font-family: 'Caveat', Arial sans-serif;
    font-size: x-large;
}

/* EPHEMERIDE */

.ephemeride {
    font-family: 'Bebas Neue', Arial sans-serif;
    text-align: center;
    text-decoration: none;
}

.jour-rouge {
    font-family: 'Bebas Neue', Arial sans-serif;
    color: red;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.shadow-date {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

/* ARTICLE */

.article {
    .fond-paper {
        background-image:url('../../public/images/paperwhite.jpg');

        .text-article {
            font-size: 1.6rem;
            text-indent: 40px;
            line-height: 2.2rem;
        }
    }
}