{% extends 'base.html.twig' %}

{% block title %}Modifier une page{% endblock %}

{% block body %}
<main class="carrousel p-3">
    <h1>Modifier une page de journal</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</main>
{% endblock %}
