{% extends 'base.html.twig' %}

{% block title %}Au jour le jour{% endblock %}

{% block body %}
<main class="journal">
    <h1>Au jour le jour...</h1>
    <div class="bureau">
        {% for article in articles %}
        {%  include 'ephemeride.html.twig' %}
        {%  endfor %}
    </div>
    {% if app.user %}
    <a href="{{ path('articles_new') }}" class="btn btn-success ml-3 mt-5">
        Ajouter une page
    </a>
    {% endif %}
</main>
{% endblock %}
