{% extends 'base.html.twig' %}

{% block title %}Ajouter une page de journal{% endblock %}

{% block body %}
    <main class="index">
        <h1>Ajouter une page de journal</h1>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ include('articles/_form.html.twig') }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
