<p>Bonjour cher administrateur,</p>

<p>
    Un utilisateur a demandé de s'inscrire au Journal de Maman.
    Il s'agit de :</p>
<ul>
    <li>{{ user.firstname }} {{ user.name }}</li>
    <li>Mail : {{ user.email }}</li>
    <li>Lien : {{ user.link }}</li>
</ul>
<p>
    L'utilisateur doit être approuvé sur le panel d'administration :
    http://journal.jejoueenclasse.fr/admin/
</p>
--<br>
Jean-Roch