<p>Bonjour {{user.firstname}},</p>

<p>
    Un administrateur a approuvé votre demande pour accèder au Journal de Maman.</p>
<p>
    Merci de vous connecter avec votre adresse {{ user.email }} et le mot de passe choisi sur :<br>
    http://journal.jejoueenclasse.fr/login
</p>
<p>
    Nous espérons que vous ajouterez à votre tour du contenu !
</p>
--<br>
Le Journal de Maman