{% extends 'base.html.twig' %}

{% block title %}Le journal de Maman{% endblock %}

{% block body %}
    <main class="index">
        <h1 class="p-3">Bienvenue sur le journal de Maman</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    card
                </div>
            </div>
        </div>
    </main>
{% endblock %}