{% extends 'base.html.twig' %}

{% block title %}Tutoriel pour compléter ce site{% endblock %}

{% block body %}
    <main class="index">

        <div class="row justify-content-center m-3">
        
            <div class="col-12 col-md-8">

                <p>Voici un tutoriel vous permettant de copier rapidement les pages d’un journal</p>
                
                <h2>Prérequis</h2>
                <ul>
                    <li>
                        Avoir créé le journal sur la page des journaux (bouton vert en bas) ;
                    </li>
                    <li>
                        Avoir un compte Google (vous l’avez déjà si votre téléphone est sous Androïd) ;
                    </li>
                    <li>
                        Installer l’application Google Docs sur votre téléphone ;
                    </li>
                </ul>

                <h2>Processus</h2>
                <ul>
                    <li>
                        Sur l'application Google Docs du téléphone, créez un nouveau document ;
                    </li>
                    <li>
                        Nommez ce document du nom du journal ;
                    </li>
                    <li>
                        Sur le clavier du téléphone, cliquez sur le micro ;
                    </li>
                    <li>
                        Parlez pour dicter le journal. Dites “virgule, point, point-virgule, 
                        point d’exclamation, à la ligne”, pour ma ponctuation ;
                    </li>
                    <li>
                        Relancez le micro s’il s’arrête (bleu foncé quand actif) ;
                    </li>
                    <li>
                        Quand vous avez terminé, sur ordinateur, accéder à docs.google.com ;
                    </li>
                    <li>
                        Ouvrez votre document créé au 2, et relisez pour corriger les erreurs ;
                    </li>
                    <li>
                        Quand tout est validé, faites un copier-coller et rendez-vous sur la page 
                        du journal sur le site et “Ajouter une page”, en indiquant la date et en 
                        copiant le contenu.
                    </li>
                </ul>

                <h2>Astuces</h2>
                <ul>
                    <li>
                        Faire plusieurs pages d’un coup est plus efficace ; 
                        je me lance souvent le défi d’une semaine à faire par jour de copie ;
                    </li>
                    <li>
                        En cas d’erreur fréquente (ex : il écrit “point d’exclamation” chez moi), 
                        on peut utiliser la fonction “Edition > Rechercher et remplacer” pour tout corriger d’un coup.
                    </li>
                </ul>

            </div>

        </div>
    </main>
{% endblock %}